# .gitattributes

* text=auto eol=lf

# Specify some formats as binary (convenient for diffs)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.jar binary

# GitHub Linguist relief
vendor/** linguist-vendored
node_modules/** linguist-vendored
**/dist/** linguist-vendored
**/build/** linguist-vendored

# Diffs for composer.lock / package-lock.json / yarn.lock
composer.lock -diff
package-lock.json -diff
yarn.lock -diff
pnpm-lock.yaml -diff
